/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 2rem;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a {
  font-weight: 700;
  color: rgb(7, 162, 147);
}

figure {
  margin: 0;
  border: #f4f4f4 solid 1px;
  padding: 1rem;
}

pre {
  color: white;
  background-color: #3f3f3f;
  display: block;
  padding: 9px;
  margin: 0 0 12px;
  line-height: 1.2;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  border-radius: 0.5rem;
}

.bold-text {
  font-weight: 700;
}

.website-description {
  margin: 0 20vw;
}

#home {
  height: 100vh;
}

#home-container {
  position: relative;
  top: -2rem;
  height: 85%;
  display: flex;
  max-height: max-content;
  flex-direction: column;
  justify-content: space-evenly;
}

img {
  width: 100%;
  max-width: 600px;
  height: 100%;
}

/* NAV */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h2 {
  text-align: right;
}
nav h1,
h2 {
  font-size: 1.5rem;
}

/* SECTIONS */

section {
  padding-top: 1rem;
}

/* CHECKPOINT DIRECTORY */

#checkpoint-button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
  margin: 0 20vw;
}

.checkpoint-button {
  background-color: #146556;
  border: none;
  color: #f6f6f6;
  padding: 0.8rem 0.3rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s ease;
}

.checkpoint-button:hover {
  background-color: #447c72;
  color: white;
}

/* MODAL HOVER */

.hover-container {
  position: relative;
}

.hover-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: #154a67;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  pointer-events: none;
}

.overlay p {
  font-size: 1.2rem;
  margin: 1rem;
}

/* DROPDOWN MENU */

.dropdown {
  position: relative;
  display: none;
  background-color: #146556;
  margin: 0 auto;
  border: none;
  color: #f6f6f6;
  padding: 0.8rem 0.3rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 2.75rem;
  left: 0;
  background-color: #154a67;
  padding: 0 1rem;
  z-index: 1;
  margin: 0 auto;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.drowdown-link {
  color: white;
  text-decoration: none;
}

/* CHECKPOINTS */

.level-title {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.sub-level {
  border-top: 1px solid black;
  padding: 1rem 0;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1000px) {
  .website-description,
  #checkpoint-button-container {
    margin: 0 3rem;
  }
}

@media screen and (max-width: 700px) {
  #home-container {
    justify-content: flex-start;
    gap: 1.5rem;
    top: 0;
  }
  .website-description {
    margin: 0;
  }
  #checkpoint-button-container {
    display: none;
  }
  .dropdown {
    display: inline-block;
  }
}
